@import './base.css';
@import './reset.css';

* {
  font-family: 'Apple SD Gothic' !important;
}

html {
  scroll-behavior: smooth;
}


#app {
  width: 100%;
  font-weight: normal;  
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
