<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.HouseMapper">

	<select id="dongCodeList" resultType="DongCodeDto">
		SELECT bjd_cd dongCode, sd_nm sidoName, sgg_nm gugunName, CONCAT(emd_nm,' ',li_nm) dongName, center_long cLng, center_lati cLat 
		FROM whereismyhome.bjd_info
		WHERE emd_nm LIKE CONCAT('%', #{dongName}, '%') or li_nm LIKE CONCAT('%', #{dongName}, '%');
	</select>

	<select id="searchByDongCode" resultType="HouseInfoDto">
		SELECT * FROM houseinfo
		WHERE dongCode = #{dongCode} LIMIT #{offset}, #{limit}
	</select>

	
	<select id="searchDetailByAptNo" resultType="HouseInfoDetailDto">
		SELECT hid.aptCode, hid.recentDealAmount, hid.minDealAmount, hid.maxDealAmount, hid.avgDealAmount, 
		hid.apartmentName aptName, hid.address, hid.buildYear, hid.firstDealDate,
		ROUND(hs.avgArea, 1) avgArea
		FROM whereismyhome.houseinfo_detail hid, houseinfo_simple hs
		WHERE hid.aptCode=#{aptCode} and hid.aptCode=hs.aptCode;
	</select>

	<select id="searchAptInfoByCoold" resultType="HouseInfoSimpleDto">
		SELECT hs.*, hi.lat, hi.lng
		FROM houseinfo_simple hs JOIN (
			SELECT AptCode 
			FROM houseinfopoint hip
			WHERE ST_Contains(
			ST_Buffer(
				ST_PointFromText(
					CONCAT('POINT(', CAST(#{lng} AS DECIMAL(20, 12)), ' ', CAST(#{lat} AS DECIMAL(20, 12)), ')'), 5179
				), #{range} / 111.1
			), hip.point)
		) r using(AptCode) JOIN
		houseinfo hi using(aptCode)
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="searchAptDeals" resultType="HouseDealDto">
		SELECT * FROM housedeal
		WHERE aptCode = #{aptCode}
		ORDER BY dealYear desc, dealMonth desc, dealDay desc
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="getTotalAptDealsByAptCode" resultType="int">
		SELECT COUNT(*) FROM housedeal WHERE aptCode=#{aptCode}
	</select>

</mapper>